body {
  background-color: #CE93D8;
}


.navbar-brand {
  font-family: 'Poiret One', cursive;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  position: relative;
}

nav {
  
  top:0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em 0.1em 0.9375em;
  position: fixed;
  background-color: #8E24AA;
  background-size: cover;
  box-shadow: 0em 0.3125em 1.875em #9C27B0;
}

.tag-line{
  font-size:0.425em;
  left:6.8em;
  bottom: 0.3em;
  position: relative;
}

canvas{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0em 0.3125em 1.875em #9C27B0;
 
}

.footer{
  position: fixed;
  bottom: 0;
  left:0;
  padding: 0.9375em;
  background-color: #8E24AA !important;
  box-shadow: 0em -0.3125em 1.875em #9C27B0;
  display: block;
  width: 100%;
  font-family: 'Poiret One', cursive;
  color: #fff !important;
  z-index: 10;
}

.footer-title{
  font-weight: bold;
  position: relative;
  letter-spacing: 0.0625em;
}

.footer-links{
  position: absolute;
  right: 1em;
  top:0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:inline;
}

#li-1:hover:active{
  margin-top:0em;
}

#li-1:hover{
  margin-top: -0.2em;
}

#li-2:hover:active{
  margin-top:0em;
}

#li-2:hover{
  margin-top: -0.2em;
}

#li-1{
  float: left;
  color: #4A148C;
  margin-right: 0.625em;
  padding:0.125em 0.625em;
  border-radius: 0.3125em;
  background-color: #fff;
  cursor: pointer;
  letter-spacing: 0.125em;
  font-weight: 900;
  
}


#li-2{
  float: left;
  color: #4A148C;
  margin-right: 0.625em;
  padding:0.125em 0.625em;
  border-radius: 0.3125em;
  background-color: #fff;
  cursor: pointer;
  letter-spacing: 0.125em;
  font-weight: 900;
  
}

.admin-img{
  border-radius: 50%;
  width: 3em;
}

#how-to-use{
  position:fixed; 
  width: 95%; 
  height: 75%; 
  background-color: #AB47BC;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
}
#create-greeting{
  position:fixed; 
  width: 95%; 
  height: 75%; 
  background-color: #AB47BC;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.sub-header{
  
  font-family: 'Poiret One', cursive;
  color: #9C27B0;
  font-size: 2em;
  font-weight: 900;
  padding: 20px;
  position: relative;
  background-color: #fff;
  margin-top: 15px;
  border-radius: 10px;
}

.close-button{
  float: right; 
  color: #999; 
  font-style: normal;
  cursor: pointer; 
  font-weight: 100;
}
.close-button:hover{
  color: black;
}

.how-to-use-content{
  font-family: 'Poiret One', cursive;
  color: #9C27B0;
  font-size: 20px;
  font-weight: 900;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 1em;
  
}

.row{
  display:flex;
  position: relative;
  margin: auto;
  height: 80%;
}

#left-content{
  width: 49.8%;
  margin-right: 10px;

  position: relative;
  top:50%;
  transform:translate(0%,-50%);
  padding: 1em;
}

#how-to-use-ul li{
  padding: 1em;
}
#right-content{
  width: 49.8%;
  float: right;
  position: relative;
  top:50%;
  transform:translate(0%,-50%);
  padding: 1em;
}

#demo-img{
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  position: absolute; 
  width:90%;
  height: 80%;
  verticle-aling: middle;
}

#To{
 /*margin-top: 10px;*/
 top: 20%;
 position: absolute;
 width: 98%;
 border-radius: 10px;
 padding: 1%;
 font-size: 1.5em;
 font-weight: 900;
 font-family:"Poiret one", cursive;
}
#Message{
 top: 33%;
 width: 98%;
 padding: 1%;
 font-size: 1.5em;
 font-weight: 900;
 border-radius: 10px;
 font-family: 'Poiret One', cursive;
 position: absolute;
}
#From{
 top:47%;  
 margin-top: 20px;
 width: 98%;
 position: absolute;
 padding: 1%;
 font-size: 1.5em;
 font-weight: 900;
 border-radius: 10px;
 font-family: 'Poiret One', cursive;
}

#Create{
 position: absolute;
 top: 70%;
 padding: 2%;
 /*width: 50%;*/
 font-size: 2em;
 line-height: 0.5;
 background-color:#fff;
 font-weight: 900;
 border-radius: 10px;
 font-family: 'Poiret One', cursive;
 cursor: pointer;
  
}

form{
  top:-4em;
  width: 100%;
  height: 97%;
  position: relative;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}